<div class="container">
  <p>
    <strong>NOTE :</strong> Before starting the simulation, you'll have to open the Javascript Console on your browser by using the universal shortcut –
    <strong>Ctrl + Shift + J</strong> (or <strong>Cmd + Shift + J</strong> on a Mac) to be able to visualize the simulation.
  </p>

  <button class="button start" type="submit" (click)="startSimulation()" [disabled]="isStarted">Start Simulation</button>

  <button class="button stop" type="submit" (click)="stopSimulation()" [disabled]="!isStarted">Stop Simulation</button>

  <button class="button clear" type="submit" (click)="clearConsole()">Clear Console</button>
</div>
